/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Custom styles for sidebar */
.sidebar {
    /* min-height: 100vh; */
    background-color: #f8f9fa;
    padding: 1rem;
  }
  
  .sidebar .nav-link {
    color: #333;
  }
  
  .sidebar .nav-link.active {
    font-weight: bold;
  }
  
  /* You can add more custom styles here */
  
  