---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/organisms/Sidebar.astro';

interface Props {
  title: string;
  pageTitle: string;
}

const { title, pageTitle } = Astro.props;

const navLinks = [
  { href: "/", text: "Multi-Step Form Report", active: Astro.url.pathname === "/" },
  { href: "/Scanners", text: "Scanners", active: Astro.url.pathname === "/Scanners" },
  { href: "/ReportsVA", text: "Reports VA", active: Astro.url.pathname === "/ReportsVA" },
];
---

<BaseLayout title={title}>
  <Sidebar title="Dashboard" links={navLinks} />
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{pageTitle}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
      </div>
    </div>
    <slot />
  </main>
</BaseLayout>

